@import "~toastr/toastr.scss";
@import "./nprogress.scss";

@font-face {
  font-family: "duc";
  // src: url("../assets/duc.otf");
  src: url("../assets/dank.ttf");
}

@mixin code-style {
  margin: 0 5px 0 5px;
  background: #e9e9ff;
  color: #36c;
  font-weight: bold;
  word-break: break-word;
}

[v-cloak] {
  display: none;
}

.post_body {
  padding-left: 30px;
  padding-right: 30px;
  p {
    word-break: break-word;
    table {
      margin-bottom: 20px;

      th {
        font-family: Lato-Bold;
        font-size: 18px;
        color: #fff;
        line-height: 1.4;
        background-color: #6c7ae0;
      }

      tr:nth-child(even) {
        background-color: #f8f6ff;
      }

      tr:hover {
        background-color: #94a1fd;
      }

      width: 100%;
    }

    list-style-position: inside;

    & > code {
      @include code-style()
    }

    li > code {
      @include code-style()
    }

    pre {
      white-space: pre-wrap;
      margin-top: 10px;
      border-radius: 5px !important;
      box-shadow: 0px 3px 15px #dbfbe3 !important;

      background-color: cornsilk;

      code {
        font-family: "duc" !important;
      }
    }

    blockquote {
      padding: 10px 20px 10px 20px;
      margin: 10px 0px;
      border-left: 3px solid #336cff;
      background: #e9e9ff;
      color: #336cff;
      font-size: 1.1rem;
      
      // laravel-china 风格
      // margin: 20px 0 !important;
      // background-color: #f5f8fc;
      // padding: 1rem;
      // color: #8796a8;
      // border-left: none;
      p {
        font-weight: normal !important;
      }
    }

    line-height: 2 !important;

    img {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      width: 100%;
      box-shadow: rgba(255, 204, 0, 0.5) 0 0 11px;
    }

    font-size: 15px;
    h1 {
      margin-bottom: 30px;
      text-align: center;
      font-size: 2em;
    }

    h2 {
      padding-bottom: 0.3em;
      font-size: 1.5em;
      line-height: 2em;
      // border-bottom: 1px solid #eee;
    }

    h3 {
      font-size: 1.3em;
      line-height: 2em;
    }

    h4,
    h5 {
      line-height: 2em;
    }

    ul {
      li {
        padding-left: 15px;
        list-style-type: disc;
      }
    }
    li {
      padding-left: 15px;
      list-style-position: inside;
      p {
        display: inline;
      }
    }
  }
}

.textcomplete-dropdown {
  z-index: 9999 !important;
}
