@import "~toastr/toastr.scss";
@import "./nprogress.scss";

@font-face {
  font-family: "duc";
  src: url("../assets/duc.otf");
}

[v-cloak] {
  display: none;
}

.post_body {
  p {
    list-style-position: inside;
    code {
      font-family: "duc" !important;
    }
    pre {
      border-radius: 5px !important;
      box-shadow: 0px 3px 15px #dbfbe3 !important;

      .language-txt {
        background-color: cornsilk;
      }
    }

    blockquote {
      margin: 20px 0 !important;
      background-color: #f5f8fc;
      padding: 1rem;
      color: #8796a8;
      border-left: none;
      p {
        font-weight: normal !important;
      }
    }

    line-height: 2 !important;

    img {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      width: 100%;
      box-shadow: rgba(255, 204, 0, 0.5) 0 0 11px;
    }

    font-size: 15px;
    h1 {
      text-align: center;
      font-size: 2em;
    }

    h2 {
      padding-bottom: 0.3em;
      font-size: 1.5em;
      line-height: 2em;
      // border-bottom: 1px solid #eee;
    }

    h3 {
      font-size: 1.3em;
    }

    ul {
      li {
        list-style-type: disc;
      }
    }
    li {
      list-style-position: inside;
      p {
        display: inline;
      }
    }
  }
}

.textcomplete-dropdown {
  z-index: 9999 !important;
}
